@media screen and (max-width: 692px) {
    main img{
        display: block;
        width: 95vw;
        margin: auto;
        padding: 2rem;
    }
}
@media screen and (max-width: 1433px) {
    main img{
        width: 26rem;
    }
}
@media screen and (max-width: 1335px) {
    main img{
        width: 25rem;
    }
}
