<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/responsivebox.css">
    <title>Responsive Website</title>
</head>
<body>
    <header>
        <div class="nav">
            <img src="../Images/name_logo-removebg-preview.png" alt="">
            <nav>
                <a href="index.html">Home</a>
                <a href="#">About</a>
            </nav>
    </header>

    <main>
        <h1>THIS IS MY ABOUT PAGE</h1>    
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Explicabo, corrupti architecto totam saepe nulla labore debitis esse ullam inventore consequuntur dolores error officiis laudantium commodi, 
            aliquam doloribus sapiente. Earum laborum repudiandae incidunt minus harum et nemo nisi enim! 
            Culpa deleniti a consectetur laboriosam repudiandae possimus aperiam, aliquam tenetur ab pariatur eligendi adipisci fugiat fuga 
            temporibus nesciunt obcaecati ipsum similique laudantium quibusdam non eum corporis esse. Inventore officia asperiores possimus. 
            Maxime voluptate adipisci perspiciatis, reiciendis nemo rem debitis. Aliquam eaque sit molestiae similique, 
            temporibus nisi ratione corporis vero, sunt atque dicta facilis itaque illo quo tempore enim accusamus numquam totam ut voluptatum 
            eveniet quae pariatur et. Quos dolorum, accusantium nisi voluptates, quae veniam reprehenderit ab explicabo aliquid pariatur 
            voluptatem quidem. Cupiditate consectetur quidem, deserunt quasi quis nemo ea excepturi tenetur vitae ducimus. 
            In exercitationem quisquam excepturi atque neque voluptate perferendis nesciunt dolorem inventore cupiditate quia laudantium 
            officiis, asperiores beatae architecto sequi ex autem nobis eaque iure molestiae? Architecto repellat consequuntur rem inventore 
            quasi sapiente eveniet possimus cupiditate culpa aliquid velit, dicta est libero, dolorem tenetur debitis ipsum laborum. 
            Distinctio hic suscipit officia accusantium recusandae ea, veniam consequatur facilis praesentium impedit cupiditate, aspernatur 
            autem, ratione exercitationem! Molestias in molestiae labore mollitia, quasi expedita. Placeat sint, sequi officiis eum earum modi 
            error enim ducimus impedit, pariatur magnam voluptates. Libero temporibus, voluptatibus molestias excepturi recusandae quos ea. 
            Quia aspernatur nemo perspiciatis cumque. Cupiditate expedita ex corporis, alias provident dolores enim hic nam quas deleniti 
            temporibus molestias maiores iure sed ab neque vitae non repudiandae necessitatibus adipisci laboriosam error maxime. 
            Odit id excepturi at possimus tempore itaque enim incidunt vel, expedita laborum sint tenetur earum eaque beatae saepe amet, 
            voluptate magnam voluptatibus voluptas laboriosam nobis neque magni voluptatem! Iure reprehenderit iusto cumque, 
            vero voluptatem natus eius. Debitis cupiditate at voluptates, dolores architecto quibusdam a. 
            Officiis ea dolorum numquam quod expedita dicta quae aspernatur inventore repellat ipsa, repellendus facilis at reiciendis cumque 
            rem, temporibus similique voluptatem, tempora eveniet! Aliquid ipsum consequatur voluptatum itaque, 
            id placeat enim vero magni unde ea quibusdam quia eius doloribus ut pariatur veritatis? 
            Id repudiandae veritatis quos eligendi nam sapiente dolore dolores eum mollitia odio soluta nostrum nemo repellendus explicabo 
            maiores ad rem, reprehenderit similique in. Error iusto asperiores hic, veritatis nihil architecto ullam deleniti sint, 
            tempore repudiandae nulla saepe nam accusantium mollitia quaerat quia nostrum vitae libero quo! Voluptates facilis, 
            quis hic dolorum rem eveniet eius ratione, eaque impedit deserunt omnis dolorem! Voluptatibus quas tenetur ut incidunt. 
            
        </p>    
    </main>
        
    <footer>
        &copy; Copyright 2024 | Powered by Kamsi Dimson
    </footer>

</body>
</html>