<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/responsivebox.css">
    <title>Responsive Website</title>
</head>
<body>
    <header>
        <div class="nav">
            <img src="../Images/name_logo-removebg-preview.png" alt="">
            <nav>
                <a href="#">Home</a>
                <a href="about.html">About</a>
            </nav>

        </div>
    </header>

    <main>
        <h1>My Gallery</h1>
        <h2>Available Images</h2>
        <div class="img">
            <img src="../Images/name_logo-removebg-preview.png" alt="">
            <img src="../Images/name_logo-removebg-preview.png" alt="">
            <img src="../Images/name_logo-removebg-preview.png" alt="">
            <!-- <img src="../Images/name_logo-removebg-preview.png" alt="">
            <img src="../Images/name_logo-removebg-preview.png" alt="">
            <img src="../Images/name_logo-removebg-preview.png" alt="">
            <img src="../Images/name_logo-removebg-preview.png" alt="">
            <img src="../Images/name_logo-removebg-preview.png" alt=""> -->
        </div>
    </main>

    <footer>
        &copy; Copyright 2024 | Powered by Kamsi Dimson
    </footer>

</body>
</html>